md-content#pokemon-content(layout="column")

  div.progress-circular(ng-show="loading", flex="100", layout="row", layout-align="center")
    md-progress-circular(md-mode="indeterminate", md-diameter="50")

  div.pokemon-filter(ng-hide="loading", layout="row", layout-align="end", ng-class="{'gt-sm': gtSm}")
    div(flex="50", flex-sm="100", layout-padding)
      md-input-container
        label Search
        input(ng-model="searchString", ng-change="onSearchStringUpdated()")

  div(ng-hide="loading", ng-repeat="trainer in trainers", ng-show="trainer.$filteredPokemons.length")
    md-subheader
      h3.md-display-1 {{trainer.user.name}} ({{trainer.capturedPokemons.length}}/151)
    div(layout="row")
      div.badge(ng-repeat="badge in trainer.$badges")
        img(ng-src="{{badge.imageUrl}}")

    div.md-padding
      md-grid-list(
        md-cols-sm="2",
        md-cols-md="3",
        md-cols-gt-md="5"
        md-row-height="26:41"
      )
        md-grid-tile(ng-repeat="capture in trainer.$filteredPokemons", md-rowspan="1" md-colspan="1")
          md-card.pokemon-card
            md-tooltip(ng-show="capture.message") {{capture.message}}
            md-tooltip(ng-hide="capture.message") Nessun messaggio registrato
            div.md-padding
              img(ng-src="{{server}}/{{capture.pokemon.sprite.officialArt}}")
            md-card-content.pokemon-card-content
              div
                h5.md-subhead &#35;{{capture.pokemon.ndex}}
              div
                h4.md-subhead {{capture.pokemon.name}}

              div.types
                div.type(ng-repeat="type in capture.pokemon.types")
                  span.pill(ng-class="typeData[type].class") {{typeData[type].name}}
