md-content.md-padding(layout="column", ng-controller="PokemonCtrl")
  div(ng-repeat="trainer in trainers")
    h2.md-display-1 {{trainer.user.name}}
    md-content(layout="row", layout-wrap)
      div(ng-repeat="pokemon in trainer.capturedPokemons", flex-sm="100", flex-md="50", flex-lg="20", flex-gt-lg="13")
        md-card.pokemon-card
          md-tooltip {{pokemon.message}}
          div.md-padding
            img(ng-src="{{assetsHost}}/{{pokemon.sprite.officialArt}}")
          md-card-content
            h4.md-subhead {{pokemon.name}} &#35;{{pokemon.ndex}}
