md-content#pokemon-content(layout="column")

  div(ng-show="loading" layout="row" layout-align="center")
    md-progress-circular(md-mode="indeterminate", md-diameter="50")

  div(ng-hide="loading" layout="column")
    div(ng-repeat="trainer in trainers track by $index", ng-show="trainer.$filteredPokemons.length")
      md-subheader(layout="row")
        h3.md-display-1 {{trainer.user.name}} ({{trainer.capturedPokemons.length}}/151)
        div(layout="row")
          div.badge(ng-repeat="badge in trainer.$badges")
            img(ng-src="{{badge.imageUrl}}")

      div(layout="row" layout-wrap layout-align="space-around center" flex)
        div(layout-padding ng-repeat="capture in trainer.$filteredPokemons" flex-gt-md="10" flex-gt-sm="20" flex="33")
          md-card.pokemon-card(style="margin:0")
            md-tooltip(ng-show="capture.message") {{capture.message}}
            md-tooltip(ng-hide="capture.message") Nessun messaggio registrato
            div.thumbnail
              img(ng-src="{{server}}/{{capture.pokemon.sprite.officialArt}}")
            md-card-content.pokemon-card-content
              div
                h5.md-subhead &#35;{{capture.pokemon.ndex}}
              div
                h4.md-subhead {{capture.pokemon.name}}

              div.types
                div.type(ng-repeat="type in capture.pokemon.types")
                  span.pill(ng-class="typeData[type].class") {{typeData[type].name}}
