md-content(layout="column", layout-padding)
  md-list
    md-list-item(ng-click="onToggleAnimations()")
      p Animazioni
      md-switch(ng-model="settings.animations", aria-label="Animazioni").md-secondary