doctype html
html(ng-app="NccmiabsgmApp")
  head
    meta(charset='utf-8')
    title NCCMIAB
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="icon", type="image/png", href="./assets/icons/ic_logo.png")
    link(rel='stylesheet', href='libs/angular-material.min.css')
    link(rel='stylesheet', href='libs/md-data-table.min.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=RobotoDraft:100,200,300,400")
    link(rel="stylesheet", href="styles/style.css")
    link(rel="stylesheet", href="styles/nav.css")
    link(rel="stylesheet", href="styles/snowflakes.css")
    link(rel="stylesheet", href="styles/pills.css")
    script(src='libs/angular.min.js')
    script(src='libs/angular-route.min.js')
    script(src='libs/angular-animate.min.js')
    script(src='libs/angular-aria.min.js')
    script(src='libs/angular-material.min.js')
    script(src='libs/angular-resource.min.js')
    script(src='libs/md-data-table.min.js')
    script(src="cordova.js")

  body(ng-controller="AppCtrl", layout="row", md-swipe-right="onSwipeRight($event)", md-swipe-left="onSwipeLeft($event)")
    //div#snowflakeContainer
      p.snowflake
        img.snowflake(src="./assets/silvia_mastrella.png")
    md-sidenav.md-sidenav-left.md-whiteframe-z2(
      md-component-id="left",
      md-is-locked-open="menuLockedOpen")
      header(ng-click="onHeaderClick()")
        md-toolbar.md-whiteframe-z2
          div.md-toolbar-tools
            h1.md-heading NCCMIAB
              sup beta

      md-content(flex, role="navigation", class="md-default-theme")
        ul.nav(role="navigation")
          
          li.red(ng-class="selectedClass['pokemon']", ng-hide="pokemonDisabled")
            a(href="#/pokemon")
              div(layout="row")
                div.icon
                  md-icon(md-svg-icon="./assets/icons/ic_pokeball.svg")
                div.text
                  span Pokemon
                  
          li.azure(ng-class="selectedClass['karma']")
            a(href="#/karma")
              div(layout="row")
                div.icon
                  md-icon(md-svg-icon="./assets/icons/ic_yin_yang.svg")
                div.text
                  span Karma

          //li.grey(ng-class="selectedClass['settings']", ng-show="isOnDevice")
            a(href="#/settings")
              div(layout="row")
                div.icon
                  md-icon(md-svg-icon="./assets/icons/ic_settings_white_48px.svg")
                div.text
                  span Impostazioni

    div(layout="column", flex)
      md-toolbar.md-scroll-shrink
        div(layout="row", flex)
          div.md-toolbar-tools(flex="30")
            md-button.md-icon-button(ng-click="toggleMenu()", ng-hide="menuLockedOpen", aria-label="menu")
              md-icon(md-svg-icon="./assets/icons/ic_menu_24px.svg")
            h2.md-heading {{heading}} {{settings}}
          div.md-toolbar-tools(flex)
            div(layout="row", flex)
              p.quote {{quote.message}}
      
      md-table(headers="headers", content="content", sortable="sortable", filters="search", custom-class="custom", thumbs="thumbs", count="count")
      md-content(ng-view, layout="column", flex)

    script(src='scripts/app.js')
    script(src='scripts/fallingsnow_v6.js')
