
<md-content id="pokemon-content" layout="column">
  <div ng-show="loading" flex="100" layout="row" layout-align="center" class="progress-circular">
    <md-progress-circular md-mode="indeterminate" md-diameter="50"></md-progress-circular>
  </div>
  <!--div.pokemon-filter(ng-hide="loading", layout="row", layout-align="end", ng-class="{'gt-sm': gtSm}")
  div(flex="100", flex-gt-sm="50", layout-padding, style="z-index: 2")
    md-input-container(style="width:100%;")
      label Search
      input(ng-model="searchString", ng-change="onSearchStringUpdated()")
  
  -->
  <div ng-hide="loading" flex="100" layout="column">
    <div ng-repeat="trainer in trainers" ng-show="trainer.$filteredPokemons.length">
      <md-subheader>
        <h3 class="md-display-1">{{trainer.user.name}} ({{trainer.capturedPokemons.length}}/151)</h3>
        <div layout="row">
          <div ng-repeat="badge in trainer.$badges" class="badge"><img ng-src="{{badge.imageUrl}}"/></div>
        </div>
      </md-subheader>
      <div layout="row" layout-wrap="layout-wrap" layout-align="space-around center" flex="flex">
        <div layout-padding="layout-padding" ng-repeat="capture in trainer.$filteredPokemons" flex-gt-md="10" flex-gt-sm="20" flex="33">
          <md-card style="margin:0" class="pokemon-card">
            <md-tooltip ng-show="capture.message">{{capture.message}}</md-tooltip>
            <md-tooltip ng-hide="capture.message">Nessun messaggio registrato</md-tooltip>
            <div class="thumbnail"><img ng-src="{{server}}/{{capture.pokemon.sprite.officialArt}}"/></div>
            <md-card-content class="pokemon-card-content">
              <div>
                <h5 class="md-subhead">&#35;{{capture.pokemon.ndex}}</h5>
              </div>
              <div>
                <h4 class="md-subhead">{{capture.pokemon.name}}</h4>
              </div>
              <div class="types">
                <div ng-repeat="type in capture.pokemon.types" class="type"><span ng-class="typeData[type].class" class="pill">{{typeData[type].name}}</span></div>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </div>
    </div>
  </div>
</md-content>